
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin: 0;
  font-family:"Roboto", sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x:hidden;
}

::-webkit-scrollbar {
  width: 2px ;
  height: 2px;
  border-radius: 5px;
}


::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  --tw-text-opacity: 1;
  border-radius: 3px;
  background-color:var(--fallback-b1,oklch(var(--p)));
}
::selection {
  background-color: var(--fallback-b1,oklch(var(--pf)/0.12));
  color: hsl(var(--p));
}
.form-input{
  --tw-border-opacity: 1;
  border-color: var(--fallback-b1,oklch(var(--bc)/0.2));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
  --tw-text-opacity: 1;
  width: 100%;
  border-radius: .375rem;
  border-width: 1px;
  padding: .5rem 1rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 600;
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  -moz-appearance: none;
  appearance: none;
  --tw-shadow: 0 0 #0000;
  padding-inline-start: 2.5rem;
  &:focus {
    --tw-border-opacity: 1;
    border-color: var(--fallback-b1,oklch(var(--p)));
    --tw-shadow: 0 0 0 3px var(--fallback-b1,oklch(var(--p)));
  }
}

@media (min-width: 1280px) {
  .ltr\:xl\:-right-20:where([dir="ltr"],[dir="ltr"] *) {
    right: -5rem;
  }
}
.ltr\:bg-gradient-to-r:where([dir="ltr"],[dir="ltr"] *) {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.ltr\:-right-10:where([dir="ltr"],[dir="ltr"] *) {
  right: -2.5rem;
}
@media (min-width: 1280px) {
  .xl\:w-16 {
    width: 4rem;
  }
}
.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.via-transparent {
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), transparent var(--tw-gradient-via-position), var(--tw-gradient-to);
}
.from-primary\/10 {
  --tw-gradient-from: rgb(67 97 238 / .1) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(67 97 238 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
@media (min-width: 1280px) {
  .ltr\:xl\:skew-x-\[14deg\]:where([dir="ltr"],[dir="ltr"] *) {
    --tw-skew-x: 14deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}
@media (min-width: 1280px) {
  .ltr\:xl\:-right-20:where([dir="ltr"],[dir="ltr"] *) {
    right: -5rem;
  }
}
.ltr\:bg-gradient-to-r:where([dir="ltr"],[dir="ltr"] *) {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.ltr\:-right-10:where([dir="ltr"],[dir="ltr"] *) {
  right: -2.5rem;
}
@media (min-width: 1280px) {
  .ltr\:xl\:skew-x-\[14deg\]:where([dir="ltr"],[dir="ltr"] *) {
    --tw-skew-x: 14deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
}
.from-primary\/10 {
  --tw-gradient-from: rgb(67 97 238 / .1) var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(67 97 238 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.btn-gradient {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from:  var(--fallback-b1,oklch(var(--s)/var(--tw-bg-opacity))) var(--tw-gradient-from-position);
  --tw-gradient-to:  var(--fallback-b1,oklch(var(--n)/var(--tw-bg-opacity))) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to:  var(--fallback-b1,oklch(var(--p)/var(--tw-bg-opacity))) var(--tw-gradient-to-position);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.shadow-\[0_10px_20px_-10px_rgba\(67\,97\,238\,0\.44\)\] {
  --tw-shadow: 0 10px 20px -10px  var(--fallback-b1,oklch(var(--p)/var(--tw-bg-opacity)));
  --tw-shadow-colored: 0 10px 20px -10px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
[data-theme]:not([data-theme="light"]) .x-bg-base-100 {
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)));
}
.correct{
  background-color:var(--fallback-b1,oklch(var(--su)/var(--tw-bg-opacity))) var(--tw-gradient-from-position); ;
}
.incorrect{
  background-color:var(--fallback-b1,oklch(var(--er)/var(--tw-bg-opacity))) var(--tw-gradient-from-position); ;
}